body {
    margin: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul { 
    display: flex;
    gap: 20px;
}

a {
    color: white;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    padding: 80px 200px;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.hero-image img {
    width: 500px;
    height: auto;
}

.hero-text {
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    gap: 20px;     
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    margin-top: 10px;
}
