body {
    margin: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul { 
    display: flex;
    gap: 20px;
}

a {
    color: white;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    padding: 80px 200px;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.hero-image img {
    width: 300px;
    height: auto;
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.info {
    text-align: center;
    padding: 60px 200px;
}

.info container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.info-card {
    width: 180px
    text-align: center;
}

.info-card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.info-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}