body {
    margin: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul { 
    display: flex;
    gap: 20px;
}

a {
    color: white;
    font-weight: bold;
}